/**
*
* Colours
*
*/
$blue-dark: #333C4E;
$blue: #4A90E2;

$white: #FFFFFF;

$grey-light: #F7F8F9;
$grey: #CDCDCD;
$grey-dark: #A6A6A6;

$text: #2B2B2B;

/**
*
* Media query widths
*
*/

$mercury: 320px;
$venus: 480px;
$earth: 768px;
$mars: 1024px;
$jupiter: 1140px;
$saturn: 1920px;
$uranus: 1920px;
