/**
*
* Responsive grid
*
*/

$gutter: 0.01;

%base-grid {
  float: left;
  text-align: left;
  height: 100%;
  vertical-align: top;
  margin-top: 0;
  margin-left: percentage($gutter);
  padding: 0 24px;
}

%no-margin {
  margin-left: 0%;
  width: 100%;
}

%first-child {
  margin-left: 0%;
}

.row {
  margin: 0 auto;
  width: 100%;
  @include clearfix;
  text-align: center;
  vertical-align: top;
  position: relative;
  display: block;
  margin-top: 0;
  @for $i from 1 through 12 {
    .grid-#{$i} {
      @extend %base-grid;
      &:first-child {
        @extend %first-child;
      }
    }
  }
  @for $i from 1 through 12 {
    .grid-#{$i} {
      @if $i == 1 {
        width: percentage(($i/12) - $gutter/1.09);
      } @else if $i == 2 {
        width: percentage(($i/12) - $gutter/1.2);
      } @else if $i == 3 {
        width: percentage(($i/12) - $gutter/1.333333333333);
      } @else if $i == 4 {
        width: percentage(($i/12) - $gutter/1.5);
      } @else if $i == 6 {
        width: percentage(($i/12) - $gutter/2);
      } @else if $i == 12 {
        width: percentage(($i/12));
      } @else {
        width: percentage(($i/12) - $gutter);
      }
    }
  }
}

@media (min-width: $earth) {
  .grid-2:nth-child(3n+1),
  .grid-3:nth-child(4n+1),
  .grid-4:nth-child(3n+1) {
    margin-left: 0;
  }
}

@media (max-width: $earth) {
  .row {
    @for $i from 1 through 12 {
      .grid-#{$i} {
        @extend %no-margin;
      }
    }
    .grid-mobile-half:nth-child(2n+1),
    .grid-mobile-third:nth-child(3n+1),
    .grid-mobile-quarter:nth-child(4n+1) {
      margin-left: 0% !important;
    }
    .grid-mobile-half {
      width: percentage((1/2) - $gutter);
      margin-left: percentage($gutter*2);
    }
    .grid-mobile-third {
      width: percentage((1/3) - $gutter);
      margin-left: percentage($gutter*1.5);
    }
    .grid-mobile-quarter {
      width: percentage((1/4) - $gutter);
      margin-left: percentage($gutter*1.333333333333);
    }

  }
}

@media (max-width: $earth) {
  .row {
    .grid-mobile-half,
    .grid-mobile-third,
    .grid-mobile-quarter {
      @extend %no-margin;
    }
  }
}

.poop {
  @include media($uranus) {
    border: 1px solid red;
  }
}

div.row div.grid-12.left {
  text-align: left;
}

div.row div.grid-12.center {
  text-align: center;
}

div.row div.grid-12.right {
  text-align: right;
}

div.row.contained {
  margin: 0 auto;
  float: none;
  @include media($earth) {
    max-width: 511px;
  }
  @include media($mars) {
    max-width: 834px;
  }
}