html {
  background: $grey-light;
  font-size: 62.5%;
  @include media($venus) {
    font-size: 83.333333%;
  }
  font-weight: 100;
  font-family: "freight-sans-pro", sans-serif;
  a {
    text-decoration: none;
    color: $text;
  }
}

header {
  text-align: center;
  background: $blue-dark;
  height: 58px;
  width: 100%;
  display: block;
  color: $white;
  font-size: 1.2rem;
  nav > * {
    display: inline-block;
    vertical-align: middle;
  }
  p {
    position: relative;
    top: 8px;
    @include media($venus) {
      top: 1px;
    }
    @include media($earth) {
      top: 2px;
    }
  }
  .menu {
    position: absolute;
    right: 13px;
    top: 3px;
    padding: 20px;
    display: none;
  }
  .logo {
    padding: 15px 10px 0 30px;
    @include media($venus) {
      padding-top: 0px;
    }
    img {
      width: 76px;
    }
    @include media($earth) {
      padding-top: 4px;
      img {
        width: 92px;
      }
    }

  }
}

.button {
  border-radius: 4px;
  background: $blue;
  width: 30%;
  height: 48px;
  padding: 13px 0;
  text-align: center;
  display: block;
  float: left;
  position: relative;
  margin-right: 5%;
  max-width: 127px;
  vertical-align: top;
  &:last-child {
    margin-right: 0;
  }
  @include media($venus) {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}

nav {
  text-align: left;
  width: 100%;
  max-width: 748px;
  margin: 0 auto;
  position: relative;
}

.wrap {
  padding: 30px;
  max-width: 748px;
  margin: 0 auto;
}

.posts {
  margin: 0 -30px 24px;
  position: relative;
  .post {
    position: relative;
    height: 320px;
    @include media($earth) {
      height: 340px;
    }
    background: $white;
    border: 1px solid #E6E6E6;
    box-shadow: 0px 2px 0px 0px #CDCDCD;
    border-radius: 6px;
    padding: 30px;
    margin: 0 30px 6px;
    .favimage {
      display: inline-block;
      margin-right: 6px;
      width: 24px;
      height: 24px;
      position: relative;
      top: -2px;
    }
    .site {
      font-size: 1.6rem;
    }
    .quote {
      padding-left: 30px;
      position: relative;
      font-size: 1.8rem;
      img {
        position: absolute;
        top: 0;
        left: 5px;
      }
    }
    .source {
      position: absolute;
      bottom: 27px;
      font-size: 1.4rem;
      padding-right: 30px;
      a, a:visited {
        color: $blue;
        font-weight: 400;
      }
      .date {
        font-size: 1.2rem;
        display: block;
        color: $grey;
      }
    }
  }
}

.tip {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  text-align: center;
  color: #D4D4D4;
  margin-top: 36px;
  transition: all 860ms $easeInOutQuad;
  @include media($earth) {
    visibility: hidden;
    opacity: 0;
  }
}

html.shared {
  .tip,
  .share,
  header ,
  .controls{
    display: none;
  }
}

.share {
  display: block;
  @include clearfix;
  a {
    display: block;
    float: left;
  }
}

.controls {
  margin-top: 80px;
  visibility: hidden;
  opacity: 0;
  transition: all 640ms $easeInOutQuad;
  @include media($earth) {
    visibility: visible;
    opacity: 1;
  }
  button {
    width: 104px;
    height: 49px;
    color: $blue;
    text-transform: uppercase;
    background: transparent;
    border-radius: 4px;
    border: 1px solid $blue;
    transition: all 120ms $easeInOutQuad;
    outline: none;
    &:hover {
      background: $blue;
      color: white;
    }
    &.disabled {
      color: #ddd;
      border: 1px solid #ddd;
    }
    &.prev {
      float: left;
    }
    &.next {
      float: right;
    }
  }
}

.loading {
  display: block;
  position: relative;
  height: 320px;
  @include media($earth) {
    height: 340px;
  }
  background: $white;
  border: 1px solid #E6E6E6;
  box-shadow: 0px 2px 0px 0px #CDCDCD;
  border-radius: 6px;
  padding: 30px;
  margin: 0 30px 6px;
  * {
    display: inline-block;
    position: relative;
    background: #ddd;
  }
  .one {
    width: 24px;
    height: 24px;
  }
  .two {
    width: 200px;
    top: -5px;
    height: 14px;
  }
  .three {
    width: 90%;
    left: 28px;
    top: 25px;
    height: 14px;
  }
  .four {
    width: 70%;
    left: 28px;
    top: 25px;
    height: 14px;
  }
  .five {
    width: 90%;
    left: 28px;
    top: 25px;
    height: 14px;
  }
  .six {
    width: 80%;
    left: 28px;
    top: 25px;
    height: 14px;
  }
  .seven {
    width: 80%;
    left: 28px;
    top: 115px;
    height: 14px;
  }
  .eight {
    width: 20%;
    left: 28px;
    top: 110px;
    height: 10px;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 0px 0
  }
}

.loading {
  .ani b {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #eeeeee;
    background: linear-gradient(to right, #eeeeee 8%, #cccccc 18%, #eeeeee 33%);
    background-repeat: no-repeat;
    background-size: 1800px 104px;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
}