    .no-flexboxlegacy.no-touch.no-canvas .icon-facebook,
    .icon-facebook{
    display:inline-block;
    background-image: url(../../images/sprites.png);
    background-position: -43px 0px;
    width:30px;
    height:30px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-linkedin,
    .icon-linkedin{
    display:inline-block;
    background-image: url(../../images/sprites.png);
    background-position: 0px -35px;
    width:30px;
    height:30px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-loading,
    .icon-loading{
    display:inline-block;
    background-image: url(../../images/sprites.png);
    background-position: -77px -32px;
    width:24px;
    height:15px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-quote-white,
    .icon-quote-white{
    display:inline-block;
    background-image: url(../../images/sprites.png);
    background-position: -77px -51px;
    width:9px;
    height:7px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-quote,
    .icon-quote{
    display:inline-block;
    background-image: url(../../images/sprites.png);
    background-position: 0px 0px;
    width:39px;
    height:31px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-tumblr,
    .icon-tumblr{
    display:inline-block;
    background-image: url(../../images/sprites.png);
    background-position: -77px 0px;
    width:30px;
    height:28px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-twitter,
    .icon-twitter{
    display:inline-block;
    background-image: url(../../images/sprites.png);
    background-position: -34px -35px;
    width:30px;
    height:30px;
    }
