@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-resolution: 240dpi) {

    .icon-facebook{
    background-image: url(../../images/sprites-retina.png);
    background-size:(214 / 2 )+px (130 / 2 )+px;
    }
    .icon-linkedin{
    background-image: url(../../images/sprites-retina.png);
    background-size:(214 / 2 )+px (130 / 2 )+px;
    }
    .icon-loading{
    background-image: url(../../images/sprites-retina.png);
    background-size:(214 / 2 )+px (130 / 2 )+px;
    }
    .icon-quote-white{
    background-image: url(../../images/sprites-retina.png);
    background-size:(214 / 2 )+px (130 / 2 )+px;
    }
    .icon-quote{
    background-image: url(../../images/sprites-retina.png);
    background-size:(214 / 2 )+px (130 / 2 )+px;
    }
    .icon-tumblr{
    background-image: url(../../images/sprites-retina.png);
    background-size:(214 / 2 )+px (130 / 2 )+px;
    }
    .icon-twitter{
    background-image: url(../../images/sprites-retina.png);
    background-size:(214 / 2 )+px (130 / 2 )+px;
    }

}