{
// Default options
'functions': true
}

{{#items}}
    .no-flexboxlegacy.no-touch.no-canvas .icon-{{name}},
    .icon-{{name}}{
    display:inline-block;
    background-image: url(../../images/sprites.png);
    background-position: {{px.offset_x}} {{px.offset_y}};
    width:{{px.width}};
    height:{{px.height}};
    }
{{/items}}